* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 20px;
}

.container {
    border-color: aqua;
    border-style: solid;
    border-width: 1px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.container div {
    flex-grow: 1;
    min-width: calc(100%/16);
    background-color: aqua;
}

.erase {
    margin: 20px;
}

